table{
	border:solid 4px blue;
	border-collapse: collapse;
	margin: auto;
	margin-top: 30px;
	width: 460px;
	table-layout: fixed;
	overflow: hidden;
	box-shadow: 10px 10px 5px #888888;
}

caption{
	font-size: 3em;
	margin-bottom: 20px;
}

th,td{
	width:90px;
	height: 90px;
	vertical-align: middle;	
	font-size: 2em;
}

th{
	text-align: right;
}

td{
	text-align: center;
	border:solid 2px blue;	
}

